.header{
    background-color: transparent;
    height: 75px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: .25em 1.5em;
    top: 0;
    right: 0;
    text-align: end;
    color: white;
    position: fixed;
    z-index: 2;
}

#hamburger{
    font-weight: 600;
    font-size: 3rem;
    transition: .5s all;
}
#hamburger:hover{
    color: #ff922d;
    cursor: pointer;
}

.sidebar-container{
    height: 100vh;
}