.about{
    background-color: #303075;
    background-color: #571c35;
    background-color: #3C244F;
    height: 100vh;
}

.bio{
    font-size: 1.4em;
    color: white;
    font-weight: 500;
    text-align: start;
}

.social{
    color: white;
    transition: .5s all;
}

.social:hover{
    transform: translateY(-3px);
    color: #f0d376;
}

.text-orange{
    color: #ff922d;
}

.text-green{
    color: #B8C23C;
}

.dazzle{
    color: rgb(255, 241, 111);
    margin-left: 5px;
    transition: .5s all;
}

.dazzle:hover{
    color: black;
}
