.contact{
    width: 100%;
    background-color:black;
    display: flex;
    flex-direction: column;
    z-index: 888;
}
.contact>h1{
    color: white;
    width: 100%;
    font-size: 3em;
    text-align: start;
    padding: 10px 50px;
    background-color: black;
    margin-top: -30px;
}
input , .btn-mail, textarea{
    display: block;
    padding: 8px 20px;
    width: 50%;
    border-radius: 5px;
    margin: 5px auto;
}
.btn-mail{
    background-color: #20204F;
    border: 3px solid  black;
    padding: 10px 20px;
    position: relative;
    color: white;
    border-radius: 5px;
    font-weight: 800;
    letter-spacing: 1.5px;
    margin: 5px auto;
    transition: .5s all;
    z-index: 1;
    overflow: hidden ;
}

.btn-mail:hover{
    letter-spacing: 3px;
    color: black;
}

.btn-mail:after , .btn-mail:before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ff922d;
    z-index: -2;
    transition: .8s all;
}
.btn-mail:before{
    left: -100%;
}
.btn-mail:after{
    right: -100%;
}

.btn-mail:hover:before{
    left: 0;
}
.btn-mail:hover:after{
    right: 0;
}
