.projects{
    background-color: #313164;
    background-color: #4A4AB5;
    background-color: #161636;
    /* min-height: 100vh;     */
}
.projects-container{
    padding: 60px 0 100px 0;
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}