.btn-contact{
    background-color: #ff922d;
    background-color: white;
    color: black;
    border: none;
    padding: 10px 25px;
    position: fixed;
    font-weight: 700;
    letter-spacing: 1.2px;
    bottom: 0;
    right: 0;
    transition: .5s all;
}

.btn-contact:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.btn-contact>p{
    margin: 0;
    line-height: 1.3em;
}

.btn-close-modal{
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    font-weight: 800;
    border-top-left-radius: 15px;
    padding: 10px 20px;
    margin-top: -50px;
    transition: .8s all;
}

.btn-close-modal:hover{
    background-color: rgb(70, 70, 70);
}