:root{
  --banner-bg: #20204F;
  --about-bg: #21405e;
  /* --banner-bg: #372566;
  --about-bg: #20204F; */
  --projects-bg: #1a1a42;
}
[data-fs = "large"]{
  font-size:45px
}

.App {
  text-align: center;
  overflow: hidden;
  position: relative; 
}
.section-heading{
    color: #ffffff;
    width: 100%;
    font-size: 3.5em;
    text-align: start;
    padding: 5px 25px;
}

.cursor-pointer:hover{
    cursor: pointer;
    color: white;
}
.cursor-pointer-white:hover{
    cursor: pointer;
    color: #ff922d;
}


@media only screen and (max-width: 500px){
    .section-heading{
      font-size: 2.5em;
  }  
}