[data-fs = "large"]{
  font-size:45px
}

.App {
  text-align: center;
  overflow: hidden; 
}

.full-vh{
  height: 110vh;
}

.section-heading{
    color: #f8d89b;
    width: 100%;
    font-size: 3.5em;
    text-align: start;
    padding: 5px 25px;
}