.not-found{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    height: 100vh;
    color: white;
    background-color: black;
}

.btn-not-found{
    border: none;
    border-radius: 5px;
    padding: 0px 25px;
    background: white;
    transition: 1s all;
}
.btn-not-found:hover{
    background: rgb(194, 47, 47);
}